@page "/dataservice"

<PageTitle>DataService</PageTitle>

@using BLAZOR.WASM.Shared
@inject WeatherForecastService WeatherForecast

<h1></h1>

<p>This component demonstrates fetching data from the SERVICE.</p>

@if (Forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>(C)</th>
                <th>(F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Forecast in Forecasts)
            {
                <tr>
                    <td>@Forecast.Date.ToShortDateString()</td>
                    <td>@Forecast.TemperatureC</td>
                    <td>@Forecast.TemperatureF</td>
                    <td>@Forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? Forecasts;

    protected override async Task OnInitializedAsync()
    {
        Forecasts = await WeatherForecast.GetForecastAsync(DateTime.Now);
    }
}
