@inherits LayoutComponentBase

@inject UniformResourceLocator _Server
@inject NavigationManager MyNavigationManager

<main>
    @Body
</main>

@code {
    protected override async Task OnInitializedAsync()
    {
        _Server.SetDomain(MyNavigationManager.BaseUri.ToLower());
    }

    protected override void OnParametersSet()
    {
        _Server.SetPage(MyNavigationManager.ToBaseRelativePath(MyNavigationManager.Uri.ToLower()));
    }
}
